* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

$dark: #1a1a1a;
$white: #fff;
$tomato: #c0392b;

@font-face {
  font-family: "Product-sans";
  src: url('../fonts/Product-Sans-Bold.ttf');
  src: url('../fonts/Product-Sans-Italic.ttf');
  src: url('../fonts/Product-Sans-Regular.ttf');
}

body {
  font-family: 'Product-sans';
}

img {
  width: 100%;
}

.e-btn {
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 2.5px;
  padding: 5px 15px;
  transition: .3s;

  &:hover {
    border: 1px solid $dark;
    background-color: $dark;
    color: $white;
  }
}

.view {
  display: table;
  margin: auto;

  a {
    color: $dark;
    text-transform: capitalize;
    transition: .3s;
    border-bottom: 1px solid $dark;

    &:hover {
      text-decoration: none;
    }
  }
}

.section-header {
  position: relative;
  margin: auto;
  display: table;

  h3 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    content: '';
    background-color: #1a1a1a;
    height: 2px;
    width: 60px;
    left: -30%;
    top: 38%;
  }

  &::after {
    position: absolute;
    content: '';
    background-color: #1a1a1a;
    height: 2px;
    width: 60px;
    right: -30%;
    top: 38%;
  }
}

// header
header {
  .dropdown-toggle {
    &:after {
      display: none !important;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: 0;
    }
  }

  .header-top {
    background-color: $dark;

    &-item {
      height: 40px;

      .social {
        li {
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
          transition: .3s;

          &:hover {
            background-color: $white;

            a {
              color: $dark;
            }
          }

          a {
            text-decoration: none;
            transition: .3s;

            i {
              font-size: 16px;
            }
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;

        li {
          padding: 0 5px;

          .show {
            left: -90% !important;
            background-color: $dark;
            border-radius: 0;
            border: none;
          }

          a {
            color: $white;
          }
        }
      }
    }
  }

  nav {
    background-color: $white;

    a {
      color: $dark;
    }
  }


  .menu-container {
    margin: 0;
    background: #fff;
  }

  .menu-mobile {
    display: none;
    padding: 20px;
  }

  .menu {
    >ul {
      width: 100%;
      list-style: none;
      padding: 0;
      position: relative;
      box-sizing: border-box;
      margin: 0;

      &:before,
      &:after {
        content: "";
        display: table;
      }

      &:after {
        clear: both;
      }

      >li {
        float: left;
        background: #fff;
        padding: 0;
        margin: 0;

        a {
          text-decoration: none;
          padding: 10px 20px;
          display: block;
        }

        &:hover {
          background: #f0f0f0;
        }

        >ul {
          display: none;
          width: 100%;
          background: #f0f0f0;
          padding: 20px;
          position: absolute;
          z-index: 99;
          left: 0;
          margin: 0;
          list-style: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          &:before,
          &:after {
            content: "";
            display: table;
          }

          &:after {
            clear: both;
          }

          >li {
            margin: 0;
            padding-bottom: 0;
            list-style: none;
            width: 25%;
            background: none;
            float: left;

            a {
              color: #777;
              padding: .2em 0;
              width: 95%;
              display: block;
              border-bottom: 1px solid #ccc;
            }

            >ul {
              display: block;
              padding: 0;
              margin: 10px 0 0;
              list-style: none;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;

              &:before,
              &:after {
                content: "";
                display: table;
              }

              &:after {
                clear: both;
              }

              >li {
                float: left;
                width: 100%;
                padding: 10px 0;
                margin: 0;
                font-size: .8em;

                a {
                  border: 0;
                }
              }
            }
          }

          &.normal-sub {
            width: 300px;
            left: auto;
            padding: 10px 20px;

            >li {
              width: 100%;

              a {
                border: 0;
                padding: 1em 0;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 959px) {
    .menu-container {
      width: 100%;
    }

    .menu-mobile {
      display: block;
      text-align: right;
    }

    .menu {
      >ul {
        display: none;

        >li {
          width: 100%;
          float: none;
          display: block;

          a {
            padding: 1.5em;
            width: 100%;
            display: block;
          }

          >ul {
            position: relative;

            &.normal-sub {
              width: 100%;
            }

            >li {
              float: none;
              width: 100%;
              margin-top: 20px;

              &:first-child {
                margin: 0;
              }

              >ul {
                position: relative;

                >li {
                  float: none;
                }
              }
            }
          }
        }
      }

      .show-on-mobile {
        display: block;
      }
    }
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s;
  }
}

// header ends

// home
.home {
  background-image: url('../img/bg1.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .home-content {
    p {
      text-transform: uppercase;
      font-weight: 600;
      color: $white;
      letter-spacing: 2px;
      word-spacing: 2px;
      border-bottom: 1px solid $white;
      display: inline-block;
      margin: 0;
      font-size: 22px;
    }

    h2 {
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: 600;
      color: $white;

      span {
        color: $dark;
      }
    }

    .e-btn {
      background-color: $white;
      border: 1px solid $white;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        background-color: $dark;
        border: 1px solid $dark;
      }
    }
  }
}

// home ends

// popular
.popular {
  .item-box {
    &-img {
      margin-bottom: 10px;

      img {
        height: 250px;
        object-fit: cover;
      }
    }

    &-details {
      display: flex;
      justify-content: space-between;

      .item-box-left {
        text-overflow: ellipsis;
        width: 50%;

        .product-name {
          color: $dark;
          overflow: hidden;
          font-size: 12px;
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        small {
          color: $tomato;
          font-weight: 600;
          font-size: 16px;
        }

        .color {
          display: flex;

          .single-color {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
          }

          .yellow {
            background-color: #f1c40f;
          }

          .red {
            background-color: #e74c3c;
          }

          .green {
            background-color: #27ae60;
          }

          .black {
            background-color: #2c3e50;
          }

          .white {
            background-color: #bdc3c7;
          }
        }
      }

      .item-box-right {
        p {
          margin: 0;
          font-size: 13px;
          color: #aaa;
        }
      }
    }
  }
}

// popular ends