* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Product-sans";
  src: url("../fonts/Product-Sans-Bold.ttf");
  src: url("../fonts/Product-Sans-Italic.ttf");
  src: url("../fonts/Product-Sans-Regular.ttf");
}

body {
  font-family: 'Product-sans';
}

img {
  width: 100%;
}

.e-btn {
  background-color: transparent;
  border: 1px solid #1a1a1a;
  border-radius: 2.5px;
  padding: 5px 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.e-btn:hover {
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}

.view {
  display: table;
  margin: auto;
}

.view a {
  color: #1a1a1a;
  text-transform: capitalize;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 1px solid #1a1a1a;
}

.view a:hover {
  text-decoration: none;
}

.section-header {
  position: relative;
  margin: auto;
  display: table;
}

.section-header h3 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-header:before {
  position: absolute;
  content: '';
  background-color: #1a1a1a;
  height: 2px;
  width: 60px;
  left: -30%;
  top: 38%;
}

.section-header::after {
  position: absolute;
  content: '';
  background-color: #1a1a1a;
  height: 2px;
  width: 60px;
  right: -30%;
  top: 38%;
}

header .dropdown-toggle:after {
  display: none !important;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

header .header-top {
  background-color: #1a1a1a;
}

header .header-top-item {
  height: 40px;
}

header .header-top-item .social li {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-top-item .social li:hover {
  background-color: #fff;
}

header .header-top-item .social li:hover a {
  color: #1a1a1a;
}

header .header-top-item .social li a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-top-item .social li a i {
  font-size: 16px;
}

header .header-top-item ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 100%;
}

header .header-top-item ul li {
  padding: 0 5px;
}

header .header-top-item ul li .show {
  left: -90% !important;
  background-color: #1a1a1a;
  border-radius: 0;
  border: none;
}

header .header-top-item ul li a {
  color: #fff;
}

header nav {
  background-color: #fff;
}

header nav a {
  color: #1a1a1a;
}

header .menu-container {
  margin: 0;
  background: #fff;
}

header .menu-mobile {
  display: none;
  padding: 20px;
}

header .menu > ul {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

header .menu > ul:before, header .menu > ul:after {
  content: "";
  display: table;
}

header .menu > ul:after {
  clear: both;
}

header .menu > ul > li {
  float: left;
  background: #fff;
  padding: 0;
  margin: 0;
}

header .menu > ul > li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

header .menu > ul > li:hover {
  background: #f0f0f0;
}

header .menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .menu > ul > li > ul:before, header .menu > ul > li > ul:after {
  content: "";
  display: table;
}

header .menu > ul > li > ul:after {
  clear: both;
}

header .menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}

header .menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}

header .menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header .menu > ul > li > ul > li > ul:before, header .menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

header .menu > ul > li > ul > li > ul:after {
  clear: both;
}

header .menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em;
}

header .menu > ul > li > ul > li > ul > li a {
  border: 0;
}

header .menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

header .menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

header .menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

@media only screen and (max-width: 959px) {
  header .menu-container {
    width: 100%;
  }
  header .menu-mobile {
    display: block;
    text-align: right;
  }
  header .menu > ul {
    display: none;
  }
  header .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  header .menu > ul > li a {
    padding: 1.5em;
    width: 100%;
    display: block;
  }
  header .menu > ul > li > ul {
    position: relative;
  }
  header .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  header .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  header .menu > ul > li > ul > li:first-child {
    margin: 0;
  }
  header .menu > ul > li > ul > li > ul {
    position: relative;
  }
  header .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  header .menu .show-on-mobile {
    display: block;
  }
}

header .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.home {
  background-image: url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home .home-content p {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin: 0;
  font-size: 22px;
}

.home .home-content h2 {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
}

.home .home-content h2 span {
  color: #1a1a1a;
}

.home .home-content .e-btn {
  background-color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home .home-content .e-btn:hover {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

.popular .item-box-img {
  margin-bottom: 10px;
}

.popular .item-box-img img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular .item-box-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular .item-box-details .item-box-left {
  text-overflow: ellipsis;
  width: 50%;
}

.popular .item-box-details .item-box-left .product-name {
  color: #1a1a1a;
  overflow: hidden;
  font-size: 12px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  text-transform: uppercase;
}

.popular .item-box-details .item-box-left small {
  color: #c0392b;
  font-weight: 600;
  font-size: 16px;
}

.popular .item-box-details .item-box-left .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular .item-box-details .item-box-left .color .single-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.popular .item-box-details .item-box-left .color .yellow {
  background-color: #f1c40f;
}

.popular .item-box-details .item-box-left .color .red {
  background-color: #e74c3c;
}

.popular .item-box-details .item-box-left .color .green {
  background-color: #27ae60;
}

.popular .item-box-details .item-box-left .color .black {
  background-color: #2c3e50;
}

.popular .item-box-details .item-box-left .color .white {
  background-color: #bdc3c7;
}

.popular .item-box-details .item-box-right p {
  margin: 0;
  font-size: 13px;
  color: #aaa;
}
/*# sourceMappingURL=style.css.map */